body{
  background: rgb(150, 221, 244);
  background-size: cover;
  background-position: center;
  opacity: 1;
  margin: auto;
  font-family: 'Arimo', sans-serif;
  color: #f8f8f8;
  }

 
  header nav{
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: 10%;
    
  }
  #links a:visited { 
    text-decoration: none; 
    color: white; 
   }

   #links a{
    color: #fff;
   }

  .nav-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  #my_logo{
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  #logo{
    font-size: 36px;
    font-weight: bold;
  }

  #logo_i{
    width: 40px;
    height: 40px;
    background: url('property/travel-svgrepo-com.svg');
    background-size: 40px 40px;
 
  }
  
  
  #links a{
    margin: 15px;
    text-decoration: none;
  }
  
  @media (max-width: 500px) {
    #links {
      display: none;
    }

    .display-viaggi{
      display: flex;
      flex-wrap: wrap;
      border-bottom: 2px solid black;
      margin: 10px;
      margin-left: 50px;
    }

    .nav-container{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
 
  

    .super{
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      background-color: #64a09669;
     
      flex-shrink: 0;
      flex-grow: 1;
      color: rgb(254, 254, 254);
      padding: 10px;
      margin: 10px;
      margin-left: 50px;
      border-radius: 10px;
    }

    .userInfo .avatar {
      width: 90px;
      height:90px;
      border-radius: 100%;
      overflow: hidden;
      flex-shrink: 0;
      margin-right: 20px;
      background-position: center;
      background-size: cover;
  }

    
    .userInfo h1{
      font-size: 30px;
      margin-left: 20px;
    }

    .container h1{
      font-size: 30px;
    }

   
  }
  
  #separator{
    display: inline-block;
    height: 16px;
    width: 1px;
    background: currentColor;
  }
  
  #menu {

    display: none;
  }
  
  .menu-item {
    margin-right: 10px;
  }
  
  .menu-item a {
    text-decoration: none;
    color: #fefefe;
    font-weight: bold;
  }
  
  .menu-item a:hover {
    color: #00ff91;
  }
  
  @media (max-width: 500px) {
    #menu {
      display: block;
    }

    
  }
  
  .button{
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
  }

  .button:hover{
    background-color: #010101a2;
    color: black;
    
  }

  h1{
      font-size: 72px;
  }

  .userInfo{
    display: flex;
    background-color: whitesmoke;
    height: 35%;
    padding-top: 10%;
    padding-left: 20px;
    color: black;
  }

  .avatar {
    width: 200px;
    height:200px;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 30px;
    background-position: center;
    background-size: cover;
}

  .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center
  }
  
  @media (max-width: 500px) {
    .container{
      height: auto;
      flex-direction: column;
    }

    .track{
      display: flex;
      flex-direction: row;
      padding: 20px;
      height: 280px;
      width: 200px;
      background: linear-gradient(90deg, #00c8ffcd 0%, #92fe9dbf 100%);
      border-radius: 8px;
      margin: 15px;
      transition: width 0.2s, background-color 0.2s;
    }
  
    .track_{
      display: flex;
      flex-direction: row;
      padding: 20px;
      height: 280px;
      width: 200px;
      background: linear-gradient(90deg, #00c8ffcd 0%, #92fe9dbf 100%);
      border-radius: 8px;
      margin: 15px;
      transition: width 0.2s, background-color 0.2s;
    }
  }

  #results{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    flex-shrink: 0;
    flex-grow: 1;
  }

  #results-todo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    flex-shrink: 0;
    flex-grow: 1;
  }

  .super{
    display: flex;
    flex-wrap: column;
    width: 95%;
    background-color: #64a09669;
   
    flex-shrink: 0;
    flex-grow: 1;
    color: rgb(254, 254, 254);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }

  .city{
    display: flex;
    flex-wrap: column;
    width: 95%;
    background-color: #64a09669;
   
    flex-shrink: 0;
    flex-grow: 1;
    color: rgb(254, 254, 254);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  
  .mio{
    text-align: center;
    color: white;
    font-style: italic;
  
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    padding-top: 10px;
 
    
   

  }

  .disp{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .track{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 310px;
    background: linear-gradient(90deg, #00c8ffcd 0%, #92fe9dbf 100%);
    border-radius: 8px;
    margin: 15px;
    transition: width 0.2s, background-color 0.2s;
  }

  .track_{
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 310px;
    max-width: 260px;
    background: linear-gradient(90deg, #00c8ffcd 0%, #92fe9dbf 100%);
    border-radius: 8px;
    margin: 15px;
    transition: width 0.2s, background-color 0.2s;
  }

  h3,p{
    margin: 5px;
  }
  
  .track:hover{
    background-color: rgba(32, 31, 31, 0.704);
  }

  .trackInfo{
    display: flex;
    flex-direction: column;
  
  }

  .img_list{

    width: 260px;
    height: 180px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    transition: width 0.2s;
  }

  .gg{
    display: flex;
    flex-direction: column;

  }

  .trackInfo:hover + .saveForm{
    opacity: 1;
  }

  .saveForm{
    opacity: 0;
  }

  .saveForm:hover{
    opacity: 1;
  }

  .save{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    position: absolute;
    transition: opacity 0.3s;
    margin-left: -60px;
    margin-top: 200px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    border: none;
    background: #fff url(./property/heart.svg) 10px 12px no-repeat;
    background-size: 30px 30px;
  }

  .saveIcon{
    margin-left: -50px;
    padding-top: 212px;
    width: 30px;
    box-shadow: none;
    position: absolute;
  }
  

  .infoContainer{
    min-height: 62px;
  }
  
  .show{
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  
  .selected{
    position: fixed;
    width: 50%;
    height: auto;
    z-index: 10;
    left: 25%;
    top: 25%;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
  }
  
  .unselected{
    height: 50%;
  }
  
  @media (max-width: 500px) {
    
    .vol{
      display: flex;
      flex-direction: row;
      padding: 14px;
      height: 280px;
      width: 200px;
      background: linear-gradient(90deg, #00c8ffcd 0%, #92fe9dbf 100%);
      border-radius: 8px;
      margin: 15px;
      transition: width 0.2s, background-color 0.2s;
    }

   .trackInfo .rayan{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(0,10,36,1) 0%, rgba(9,9,121,1) 35%, rgba(228,255,0,1) 100%);
      margin-top: 0;
      padding-bottom: 10px;
     
    }
    
    .trackInfo .bb{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(36,0,0,1) 0%, rgba(9,86,121,1) 35%, rgba(255,0,0,1) 100%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    
    .trackInfo .na{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(4,0,36,1) 0%, rgba(0,255,239,1) 47%, rgba(11,88,250,1) 73%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    .trackInfo  .ita{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(13,133,222,1) 18%, rgba(255,0,0,1) 47%, rgba(0,171,14,1) 73%);
      margin-top: 0;
      padding-bottom: 10px;
    }

    .trackInfo{
      max-width: 220px;
    }
    
    .trackInfo .oth{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(0deg, rgba(0,104,255,1) 25%, rgba(0,12,112,1) 72%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    
    
    .trackInfo .fr{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(90deg, rgba(8,0,177,1) 46%, rgba(209,200,200,1) 48%, rgba(253,29,29,1) 50%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    .trackInfo  .ej{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 180px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(255,12,0,1) 15%, rgba(222,195,13,1) 49%, rgba(171,0,21,1) 73%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    
    .green{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 16px;
      margin-top: 0px;
      font-weight: bold;
      color: rgb(229, 199, 24);
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3),
                   6px 6px 0px rgba(0, 0, 0, 0.2),
                   9px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .prezzo_{
      font-size: 24px;
      text-align: center;
      font-size: 50px;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3),
                   6px 6px 0px rgba(0, 0, 0, 0.2),
                   9px 9px 0px rgba(0, 0, 0, 0.1);
    color: rgb(229, 199, 24);
    padding-top: 5px;
    }

    .img_list{
      width: 200px;
    }

  }

  .track a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 10px;
    font-size: 16px;
  }
  
  strong{
    font-size: 18px;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .showTitle{
    overflow: visible;
  }

  img{
    width: 100%;
    max-width: 260px;
    box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    transition: width 0.2s;
  }
  
  .img-selected{
    width: 80%;
    max-width: 260px;
  }

  .infoContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    }
    
    .infoSelected{
    width: 80%;
    display: flex;
    flex-direction: row;
    }
    
    .info{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 230px;
    }

    .nores{
        font-size: 24px;
        margin-top: 50px;
    }
   
  #overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .hidden{
    display:none;
    }



    .display-viaggi{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 2px solid black;
      
      margin: 10px;
    }
  
    .display-hv{
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  
    .vol{
      display: flex;
      flex-direction: row;
      padding: 14px;
      height: 320px;
      background: linear-gradient(90deg, #00c8ffcd 0%, #92fe9dbf 100%);
      border-radius: 8px;
      margin: 15px;
      transition: width 0.2s, background-color 0.2s;
    }

    .vol:hover{
      background-color: rgba(32, 31, 31, 0.704);
    }
    .compagnia{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 260px;
      background-color: #191F45;
      padding-top: 20px;
      
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
    
    }
    
    .info_voli{
    
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 280px;
      
    
    }
    
    .importante{
      font-size: 16px;
      font-weight: bold;
      color: #000;
      margin-bottom: 5px;
    }
    
    .importante_{
      font-size: 16px;
      font-weight: bold;
      color:rgb(229, 199, 24);
      margin-bottom: 5px;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3),
                   6px 6px 0px rgba(0, 0, 0, 0.2),
                   9px 9px 0px rgba(0, 0, 0, 0.1);
    }
    
    .classic{
      font-style: italic;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3),
                   6px 6px 0px rgba(0, 0, 0, 0.2),
                   9px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .voliamo{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    
    }
    
    .scali{
    
      text-align: center;
    
    }
    .rayan{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(0,10,36,1) 0%, rgba(9,9,121,1) 35%, rgba(228,255,0,1) 100%);
      margin-top: 0;
      padding-bottom: 10px;
     
    }
    
    .bb{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(36,0,0,1) 0%, rgba(9,86,121,1) 35%, rgba(255,0,0,1) 100%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    
    .na{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(4,0,36,1) 0%, rgba(0,255,239,1) 47%, rgba(11,88,250,1) 73%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    .ita{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(13,133,222,1) 18%, rgba(255,0,0,1) 47%, rgba(0,171,14,1) 73%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    .oth{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(0deg, rgba(0,104,255,1) 25%, rgba(0,12,112,1) 72%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    
    
    .fr{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(90deg, rgba(8,0,177,1) 46%, rgba(209,200,200,1) 48%, rgba(253,29,29,1) 50%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    .ej{
      font-size: 22px;
      text-align: center;
      font-style: italic;
      height: 40px;
      width: 280px;
      padding-top: 20px;
      border-radius: 5px solid  #191F45;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      background: linear-gradient(49deg, rgba(255,12,0,1) 15%, rgba(222,195,13,1) 49%, rgba(171,0,21,1) 73%);
      margin-top: 0;
      padding-bottom: 10px;
    }
    
    
    .green{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      margin-top: 0px;
      font-weight: bold;
      color: rgb(229, 199, 24);
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3),
                   6px 6px 0px rgba(0, 0, 0, 0.2),
                   9px 9px 0px rgba(0, 0, 0, 0.1);
    }
    .prezzo_{
      font-size: 30px;
      text-align: center;
      font-size: 50px;
      text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3),
                   6px 6px 0px rgba(0, 0, 0, 0.2),
                   9px 9px 0px rgba(0, 0, 0, 0.1);
    color: rgb(229, 199, 24);
    padding-top: 5px;
    }


    .delete{
      width: 50px;
      height: 50px;
      background-color: #10142d;
      position: absolute;
      transition: opacity 0.3s;
      margin-left: -60px;
      color: rgba(255, 355, 255, 0);
      margin-top: 270px;
      border: none;
      border-radius: 50px;
      background: rgb(0 0 0 / 50%) url(./property/delete.png) 10px 12px no-repeat;
      background-size: 30px 30px;
      z-index: 2;
    }
    .delete_{
      width: 50px;
      height: 50px;
      background-color: #10142d;
      position: absolute;
      transition: opacity 0.3s;
      margin-left: -60px;
      color: rgba(255, 355, 255, 0);
      margin-top: 270px;
      border: none;
      border-radius: 50px;
      background: rgb(0 0 0 / 50%) url(./property/delete.png) 10px 12px no-repeat;
      background-size: 30px 30px;
      z-index: 2;
    }


    .saveForm{
      opacity: 0;
    }
  
    .saveForm:hover{
      opacity: 1;
    }
  